name: Docker Image CI

on:
  push:
    branches: [ "main" ]
    
jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - uses: azure/docker-login@v2
      with:
          login-server: moodleapp.azurecr.io
          username: ${{ secrets.ACR_USERNAME }}
          password: ${{ secrets.ACR_PASSWORD }}
    
    - run: |
        version=$(git rev-parse --short HEAD)
        docker build -t moodleapp.azurecr.io/moodle-appservice:development-$version .
        docker push moodleapp.azurecr.io/moodle-appservice:development-$version
